In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [51]:
# read csv
# see the data head()
# take usable columns
# train_test split
# Ordinal encoding input features
# Label encoding Target feature




df = pd.read_csv('customer.csv')

In [52]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [53]:
df=df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [54]:
df['education'].unique()

array(['School', 'UG', 'PG'], dtype=object)

In [56]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [69]:
df.iloc[:,-1:]

   purchased
0         No
1         No
2         No
3         No
4         No
5        Yes
6         No
7        Yes
8         No
9        Yes
10       Yes
11       Yes
12        No
13        No
14       Yes
15        No
16       Yes
17       Yes
18        No
19       Yes
20       Yes
21        No
22       Yes
23        No
24       Yes
25        No
26        No
27        No
28        No
29       Yes
30        No
31       Yes
32       Yes
33       Yes
34        No
35       Yes
36       Yes
37       Yes
38        No
39        No
40        No
41       Yes
42       Yes
43        No
44        No
45       Yes
46        No
47       Yes
48       Yes
49        No

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(df[['review','education']], df[['purchased']],test_size=0.2)

In [71]:
Or = OrdinalEncoder(categories=[['Poor','Average','Good'], ['School','UG','PG']])

In [72]:
Or.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [73]:
train_or = Or.transform(x_train)
test_or = Or.transform(x_test)

In [74]:
train_or = pd.DataFrame(train_or, columns=['review','education'])
test_or = pd.DataFrame(test_or, columns=['review','education'])
train_or.head()

   review  education
0     0.0        2.0
1     0.0        0.0
2     2.0        2.0
3     2.0        0.0
4     0.0        1.0

In [76]:
lo = LabelEncoder()
lo.fit(y_train)

train_lo = lo.transform(y_train)
test_lo = lo.transform(y_test)
train_lo

c:\Users\shani\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\shani\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\shani\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0])

In [80]:
train_lo = pd.DataFrame(train_lo, columns=['purchase'])
test_or = pd.DataFrame(test_or, columns=['purchase'])

train_lo

    purchase
0          0
1          0
2          1
3          0
4          0
5          1
6          0
7          1
8          1
9          1
10         0
11         0
12         0
13         0
14         1
15         0
16         0
17         1
18         0
19         1
20         0
21         0
22         1
23         0
24         1
25         0
26         1
27         1
28         1
29         1
30         0
31         0
32         1
33         1
34         0
35         0
36         1
37         0
38         1
39         0